<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partical/head') %>
    <style>
        table{
            margin-left: auto;
            margin-right: auto;
        }
        tr .rootTbl{
            font-family: 'Baloo Paaji';
            font-size: 28px;
            color: #695AA6;
        }
        tr .chanceTbl{
            font-size: 20px;
            font-family: "Open Sans", sans-serif;
            color: #111111;
        }
    </style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
<!-- Page Navbar -->
<nav class="custom-navbar" data-spy="affix" data-offset-top="20">
    <div class="container">
        <a class="logo" href="/home_bf">IRU</a>
        <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic"></a>
    </div>
</nav><!-- End of Page Navbar -->

<!-- page header -->
<header id="home" class="header">
    <div class="overlay"></div>
    <div class="header-content container">
        <h1 class="header-title">
            <span class="up">HI!</span>
            <span class="down">Change your infor</span>
        </h1>
        <p class="header-subtitle">JUST CHANGE YOUR INFOR</p>
    </div>
</header><!-- end of page header -->
<!-- infor section -->
<section class="section" >
    <!-- container -->
    <div class="container text-center">
        <h6 class="section-title mb-6">Change</h6>
        <form method="post">
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <input type="text" size="50" class="form-control" name="nameUser" value="<%=user.nameUser%>" >
                </div>
                <div class="form-group col-sm-6">
                    <input type="text" class="form-control" name="ageUser" value="<%=user.ageUser%>" >
                </div>
                <div class="form-group col-sm-6">
                    <input type="hidden" name="image" id ='image'>
                    <input type="file" id="fileButton" onchange="uploadImage(event)">
                </div>
                <button type="submit">Change</button>
            </div>
        </form>
    </div><!-- end of container -->
</section><!-- end of infor section -->
<%- include('../partical/javascript') %>
<div id="imgDiv"></div>
<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
<script>
    // Initialize Firebase
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
        apiKey: "AIzaSyBQIb-n-y0qcw_5BF8_vb3i7Jc0auwuOms",
        authDomain: "casestudy-md4-73063.firebaseapp.com",
        projectId: "casestudy-md4-73063",
        storageBucket: "casestudy-md4-73063.appspot.com",
        messagingSenderId: "159712510822",
        appId: "1:159712510822:web:2595e3f6d5ef0f28e9bea7",
        measurementId: "G-KJS0NFH2SY"
    };
    firebase.initializeApp(firebaseConfig);
</script>

<script type="text/javascript">
    function uploadImage(e) {
        let fbBucketName = 'images';
        let uploader = document.getElementById('uploader');
        let file = e.target.files[0];
        let storageRef = firebase.storage().ref(`${fbBucketName}/${file.name}`);
        let uploadTask = storageRef.put(file);
        uploadTask.on(firebase.storage.TaskEvent.STATE_CHANGED,
            function (snapshot) {
                uploader.value = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                switch (snapshot.state) {
                    case firebase.storage.TaskState.PAUSED:
                        break;
                    case firebase.storage.TaskState.RUNNING:
                        break;
                }
            }, function (error) {
                switch (error.code) {
                    case 'storage/unauthorized':
                        break;
                    case 'storage/canceled':
                        break;
                    case 'storage/unknown':
                        break;
                }
            }, function () {
                let downloadURL = uploadTask.snapshot.downloadURL;
                document.getElementById('imgDiv').innerHTML = `<img src="${downloadURL}" alt="">`
                document.getElementById('image').value = downloadURL;
            });
    }
</script>
</body>
</html>
